* {
    margin: 0;
    padding: 0%;
}

nav ul li {
    height: 30px;
    width: 160px;
    font-size: 30px;
    padding: 18px 0;
    display: inline-block;
    font-family: 'Bebas Neue', cursive;
}

nav ul li a:hover {
    background-color: #b68a2a;
    color: #ffffff;
    transition: 0.2s;
    border-radius: 4px;
}

nav {
    position: fixed;
    width: 100%;
    color: black;
    background-color: #ffffff;
    border-bottom-style: solid;
    border-bottom-color: black;
}

h1 {
    font-size: 64px;
}

h2 {
    font-size: 32px;
}

section {
    margin-left: 15%;
    margin-right: 15%;
    /* border: 1px solid; */
}

a {
    text-decoration: none;
    color: black;
}

.cimg {
    margin-top: 70px;
    position: static;
    border-radius: 10px;
    width: 100%;
    height: 250px;
    object-fit: cover;
    object-position: center;
    /* object-position: 0 -20%; */
}

.infoC {
    font-size: 26px;
}

footer {
    padding: 2px;
    background-color: #e7e7e7;
}

footer p {
    text-align: center;
}

section ul li {
    font-size: 30px;
    height: 40px;
}

section ul li a {
    text-decoration: underline;
}

.clock {
    position: absolute;
    bottom: -45%;
    left: 7%;
    transform: translateX(-50%) translateY(-50%);
    color: #000000;
    font-size: 40px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    letter-spacing: 5px;
}


/*section div {
    background-color: black;
    margin-top: 20px;
    margin-right: 50px;
    border-radius: 10px;
}

body {}*/